{% extends 'base.html' %}
{% block content %}
<div class="row row-labels">
	<div class="three columns">
		<p>Timestamp</p>
	</div>
	<div class="three columns">
		<p>Signature</p>
	</div>
	<div class="three columns">
		<p>Origin</p>
	</div>
	<div class="three columns">
		<p>Target</p>
	</div>
</div>

<div class="row" id="dashboard">
	{% for message in messages | reverse %}
	<div class="dashboard-row">
		<div class="three columns" name="timestamp">
			<p>[{{message.timestamp}}]</p>
		</div>
		<div class="three columns" name="signature">
			<p>{{message.signature}}</p>
		</div>
		<div class="three columns" name="origin">
			<p>{{message.origin}}</p>
		</div>
		<div class="three columns" name="target">
			<p>{{message.target}}</p>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}